<section class="col-sm-9 mx-auto p-1">
    <h4>Stock Details</h4>

    <div class="row border-bottom border-danger fw-bold text-center p-1">
        <div class="col-1">Id</div>
        <div class="col">Name</div>
        <div class="col-2">Qunatity</div>
        <div class="col-2">Unit</div>
        <div class="col-2"></div>
    </div>

    <app-item-form (itemFormSubmited)="add($event)"></app-item-form>

    <p class="alert alert-info p-2 " *ngIf="items.length===0"> No Items In Stock </p>

    <ng-container *ngIf="items.length>0">
        <ng-container *ngFor="let i of items">
            <app-item-row 
                *ngIf="!i.isEditable" 
                [item]="i" 
                (delBtnClick)="remove($event)" 
                (editBtnClick)="markEditable($event)"></app-item-row>
            <app-item-form 
                *ngIf="i.isEditable" 
                [item]="i" 
                (itemFormSubmited)="update($event)"
                (cancelEdit)="unMarkEditable($event)"></app-item-form>
        </ng-container>
    </ng-container>
</section>