<section class="pd">
    <h4>String Pipes (original: "{{strData}}")</h4>
    <div>
        <div>{{strData|lowercase}}</div>
        <div>{{strData|uppercase}}</div>
        <div>{{strData|titlecase}}</div>
    </div>

    <h4>Date Pipe (original: "{{dateData}}")</h4>
    <div>
        <div>{{dateData|date:'short'}}</div>
        <div>{{dateData|date:'long'}}</div>
        <div>{{dateData|date:'dd-MM-yy'}}</div>
        <div>{{dateData|date:'dd-MMM-yyyy'}}</div>
        <div>{{dateData|date:'dd-MMMM-yyyy'}}</div>
        <div>{{dateData|date:'dd-MM-yy hh:mm:ss aa'}}</div>
        <div>{{dateData|date:'dd-MM-yy HH:mm:ss'}}</div>
    </div>
</section>