<form [formGroup]="itemForm" (ngSubmit)="fireFormSubmit()">
    <div class="alert alert-danger p-1" 
        *ngIf="itemForm.invalid && (nameFC.touched || quantityFC.touched || unitFC.touched || nameFC.dirty || quantityFC.dirty || unitFC.dirty)">
        <ul *ngIf="nameFC.invalid">
            <li *ngIf="nameFC.errors!['required']">Item Name is a mandate field</li>
            <li *ngIf="nameFC.errors!['minlength']">Item Name is expected to be atleast 3 letters in length</li>
            <li *ngIf="nameFC.errors!['maxlength']">Item Name is expected to be atmost 15 letters in length</li>
        </ul>
        <ul *ngIf="quantityFC.invalid">
            <li *ngIf="quantityFC.errors!['required']">Item Quantity is a mandate field</li>
            <li *ngIf="quantityFC.errors!['min']">The minimum quntity is expected to be 1.</li>
        </ul>
        <ul *ngIf="unitFC.invalid">
            <li *ngIf="unitFC.errors!['required']">Item Unit is a mandate field</li>
        </ul>
    </div>
    <div class="row border-bottom border-primary p-1">
        <div class="col-1 text-end">
            {{item?item.id:0}}
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="col-2">
            <input type="number" class="form-control" formControlName="quantity" />
        </div>
        <div class="col-2">
            <input type="text" class="form-control" formControlName="unit"/>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary me-1" [disabled]="itemForm.invalid"> {{item?"SAVE":"ADD"}}</button>
            <button class="btn btn-sm btn-danger" type="button" (click)="fireCancelEdit()" *ngIf="item"> CANCEL </button>
        </div>
    </div>
</form>
